/* orange 
    color: rgb(255, 173, 0); */

/* bleu
    color: rgb(5, 215, 251); */

    
#display_contenu{
    /* border: solid green; */
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: white;
    box-shadow: 5px 5px 15px black;
}
#first_contenu{
    width: 100%;
    margin: 50px;
    padding-top: 50px;
}
#contenu_titre{
    text-align: center;
    color: rgb(255, 173, 0);
    font-size: 30px;
}
#display_contenu img{
    width: 150px;
}
.contenu_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}
.contenu_container p{
    width: 80%;
    font-size: large;
    /* border: green solid; */
}
#second_contenu{
    width: 80%;
}
#contenu_axe{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.axe{
    width: 17%;
    font-size: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1px;
    box-shadow: 5px 5px 15px black;
}
.axe:nth-child(odd), .axe:nth-child(odd) .axe_text{
    background-color:  rgb(5, 215, 251);
    /* color: rgb(255, 173, 0); */
}
.axe:nth-child(even), .axe:nth-child(even) .axe_text{
    background-color:  rgb(255, 173, 0);
    /* color: rgb(5, 215, 251); */
}
.axe_text{
    position: absolute;
    display: none;
    justify-content: center;
    padding: 10px 1px 10px 1px;
    border-radius: 0 0 1em 1em;
}
.axe_text span{
    padding: 2px;
}


#third_contenu{
    width: 100%;
    background-color: white;
    margin: 50px;
    /* box-shadow: 5px 5px 15px black; */
}
#container_button{
    display: flex;
    flex-direction: row;
    width: 80%;
}
.button_direction{
    text-align: center;
    box-shadow: 5px 5px 15px black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
.button_direction:nth-child(odd) {
    background-color: rgb(255, 173, 0);
    padding: 20px;
    margin: 5px;
    width: 200px;
}
.button_direction:nth-child(even){
    background-color: rgb(5, 215, 251);
    padding: 20px;
    margin: 5px;
    width: 200px;
}
