/* orange 
    color: rgb(255, 173, 0); */

/* bleu
    color: rgb(5, 215, 251); */

    
#display_contenu{
    /* border: solid green; */
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 5px 5px 15px black;
}
#first_contenu{
    width: 100%;
    margin: 50px;
    padding-top: 50px;
}
#contenu_titre{
    text-align: center;
    color: rgb(255, 173, 0);
    font-size: 30px;
}
#display_contenu img{
    width: 150px;
}
.contenu_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}
.contenu_container p{
    width: 70%;
    font-size: large;
}
#second_contenu{
    width: 100%;
    /* margin: 50px; */
    padding-top: 20px;
    padding-bottom: 20px;
    /* background-color: white; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* box-shadow: 5px 5px 15px black; */
}
.axe{
    width: 17%;
    /* height: 200px; */
    font-size: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 5px 5px 15px black;
}
.axe:nth-child(odd){
    background-color:  rgb(5, 215, 251);
    /* color: rgb(255, 173, 0); */
}
.axe:nth-child(even){
    background-color:  rgb(255, 173, 0);
    /* color: rgb(5, 215, 251); */
}
#third_contenu{
    width: 100%;
    background-color: white;
    margin: 50px;
    /* box-shadow: 5px 5px 15px black; */
}
#container_button{
    display: flex;
    flex-direction: row;
    width: 70%;
}
.button_direction{
    text-align: center;
    box-shadow: 5px 5px 15px black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
.button_direction:nth-child(odd) {
    background-color: rgb(255, 173, 0);
    padding: 20px;
    margin: 5px;
    width: 200px;
}
.button_direction:nth-child(even){
    background-color: rgb(5, 215, 251);
    padding: 20px;
    margin: 5px;
    width: 200px;
}
