/* Début du contennu de la page ACCUEIL */
main {
    padding-bottom: 100px;
}

#display_accueil_un {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 50px;
}

#display_accueil_deux {
    /* border: solid 5px blue; */
    padding-bottom: 20px;
    overflow: hidden;
    width: 100%;
}

.accueil_question {
    height: 150px;
    margin-top: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.accueil_question:nth-child(odd) {
    background-color: rgb(5, 215, 251);
    position: relative;
    left: -40px;
    justify-content: center;
    align-items: flex-end;
    padding-right: 40px;
    padding-left: 40px;
    margin-right: 100%;
    box-shadow: 5px 5px 15px black;
    transform: skew(15deg, 0);
    /* width: 100%; */
}

.accueil_question:nth-child(odd) h2 {
    transform: skew(-15deg, 0);
}

.accueil_question:nth-child(odd) ul {
    transform: skew(-15deg, 0);
}
.accueil_question:nth-child(odd) .accueil_question_text {
    padding-left: 40px;
}
.accueil_question:nth-child(even) {
    position: relative;
    left: 40px;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(255, 174, 0);
    padding-left: 40px;
    padding-right: 50px;
    margin-left: 100%;
    box-shadow: -5px 5px 15px black;
    transform: skew(-15deg, 0);
}

.accueil_question:nth-child(even) h2 {
    transform: skew(15deg, 0);
}

.accueil_question:nth-child(even) ul {
    transform: skew(15deg, 0);
}

.accueil_question_text {
    opacity: 0;
}

@media (min-width:550px) and (max-width:1024px) {
    #display_accueil_un img {
        width: 300px;
    }
    .accueil_question{
        height: 200px;
    }
    .accueil_question h2 {
        font-size: 25px;
        padding: 11px;
        margin: 0;

    }

    .accueil_question li {
        font-size: 15px;
        padding: 5px;
    }
    .accueil_question:nth-child(odd) .accueil_question_text {
        padding-left: 40px;
    }
}

@media (max-width:550px) {
    #display_accueil_un {
        flex-direction: column-reverse;
    }

    #display_accueil_un img {
        width: 100%;
    }

    #display_accueil_deux {
        width: 80%;
        overflow: visible;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .accueil_question {
        height: auto;
        padding: 0px;
        width: 100%;
        padding: 10px;
    }

    .accueil_question h2 {
        font-size: 15px;
        padding: 11px;
        margin: 0;

    }

    .accueil_question li {
        font-size: 11px;
        padding: 5px;
    }

    .accueil_question ul {
        padding: 10px;
        margin-top: 0;
        padding-top: 0%;
    }

    .accueil_question:nth-child(odd) {
        width: 100%;
        left: 0%;
        transform: skew(0deg, 0);
        align-items: center;
        margin-right: 0%;
        padding-right: 10px;
        padding-left: 10px;

    }

    .accueil_question:nth-child(odd) h2 {
        text-align: center;
        transform: skew(0deg, 0);
    }

    .accueil_question:nth-child(odd) ul {
        transform: skew(0deg, 0);
    }
    .accueil_question:nth-child(odd) .accueil_question_text {
        padding-left: 0px;
    }
    .accueil_question:nth-child(even) {
        width: 100%;
        left: 0%;
        margin-left: 0%;
        transform: skew(0deg, 0);
        align-items: center;
        margin-right: 0%;
        padding-right: 10px;
        padding-left: 10px;
        box-shadow: 5px 5px 15px black;
    }

    .accueil_question:nth-child(even) h2 {
        transform: skew(0deg, 0);
        text-align: center;
    }

    .accueil_question:nth-child(even) ul {
        transform: skew(0deg, 0);
    }

    .accueil_question_text {
        opacity: 1;
    }
}