@font-face {
    font-family: 'League Spartan';
    src: url('../police/league-spartan-master/webfonts/');
    src: url('../police/league-spartan-master/webfonts/?#iefix') format('embedded-opentype'),
        url('../police/league-spartan-master/webfonts/leaguespartan-bold.woff2') format('woff2'),
        url('../police/league-spartan-master/webfonts/leaguespartan-bold.woff') format('woff'),
        url('../police/league-spartan-master/webfonts/leaguespartan-bold.ttf') format('truetype'),
        url('../police/league-spartan-master/webfonts/leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "League Spartan";
}

#headerSombre {
    z-index: 2;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

header {
    position: relative;
    width: 100%;
    height: 91vh;
    display: flex;
    flex-direction: column;
}

#imgHeader {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../images/fond.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    box-shadow: black 7px 7px 30px;
}

#enTete {
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#logo {
    width: 400px;
    height: 350px;
}

#titre {
    margin-left: 30px;
}

#titre h1 {
    margin: 0;
    color: rgb(5, 215, 251);
    font-size: 50px;
}

#titre span {
    color: rgb(255, 173, 0);
    font-size: 60px;
}

#titre p {
    margin: 0;
    color: rgb(5, 215, 251);
    font-size: 30px;

}

/* Barre de navigation */
#button_navigation{
    display: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10px;
    background-color: rgba(25, 25, 25);
    color: rgb(255, 173, 0);
    border: solid 0.5px rgb(5, 215, 251);
    border-radius: 0.1em;
    padding: 10px;
    font-family: "League Spartan";
}
#rubrique {
    z-index: 100;
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    /* height: 5vh; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#rubrique a {
    width: 100%;
    height: 100%;
    text-decoration: none;
}

#rubrique a button {
    cursor: pointer;
    background-color: rgba(25, 25, 25);
    /* color: rgb(5, 215, 251); */
    color: rgb(255, 173, 0);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: solid 0.5px rgb(5, 215, 251);
    border-radius: 0.1em;
    padding: 30px;
    font-family: "League Spartan";
}

#rubrique a:hover {
    transition: all 1s;
    transform: scale(1.1);
}

#rubrique a:hover button {
    transition: all 1s;
    transform: scale(1.1);
}

main {
    width: 100%;
    /* padding-top: 50px; */
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(5, 214, 251, 0.2);
}

footer {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(5, 214, 251, 0.2), rgb(5, 215, 251), rgb(255, 173, 0));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-top: 100px; */

}

footer h1 {
    font-size: 30px;
    padding: 10px;
    margin: 0;
    color: rgb(0, 0, 0);
    padding-top: 20px;
}

.reseau {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
}

.reseau img {
    padding: 10px;
}

#partenaire img {
    height: 120px;
}

#social img {
    width: 60px;
    height: 60px;
}
/* Partie fenêtre cookie */
#cookie_display{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
}
#fenetre_cookie{
    width: 50%;
    height: 80%;
    border: solid rgb(5, 215, 251) 2px;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    font-size: 25px;
}
#container_construction{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
#container_construction img{
    width: 50%;
}
#container_construction p{
    text-align: center;
    color: rgb(5, 215, 251);
    font-size: 50px; 
}
@media (min-width:550px) and (max-width:1024px) {
    header {
        height: 91vh;
    }

    html {
        padding: 0;
        margin: 0;
    }

    /* Barre de navigation */

    #button_navigation{
        display: flex;
        padding: 20px;
    }
    #button_navigation span{
        position: relative;
        font-size: 20px;
        transform: scale(2,0.7);

    }
    #rubrique{
        /* display: flex; */

        flex-direction: column;
        top: 0;
        /* height: 70vh; */
    }
    #rubrique a{
        display: none;

    }
    #rubrique a button{
        padding: 15px;
    }
    #imgHeader {
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 200%
    }
    footer {
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(5, 214, 251, 0.2), rgb(5, 215, 251), rgb(255, 173, 0));
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* padding-top: 20px; */
    }

    footer h1 {
        font-size: 20px;
        margin: 0;
        color: rgb(0, 0, 0);
    }

    /* .reseau {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        padding-bottom: 10px;
    }

    .reseau img {
        padding: 5px;
    }

    #partenaire img {
        height: 70px;
    }

    #social img {
        width: 40px;
        height: 40px;
    } */
    /* #fenetre_cookie{
        width: 90%;
        height: 90%;
        background-color: white;
    } */


    /* phase de construction */

    #container_construction img{
        width: 70%;
    }
    #container_construction p{
        text-align: center;
        color: rgb(5, 215, 251);
        font-size: 40px; 
    }
}
@media (min-width:550px) and (max-width:1024px) and (min-height: 600px){
    #logo {
        width:400px;
        height: 350px;
    }
    #titre {
        margin: 5px;
    }

    #titre h1 {
        font-size: 45px;
        text-align: center;
    }

    #titre span {
        font-size: 60px;
    }

    #titre p {
        font-size: 30px;
        text-align: center;
    }
    #button_navigation{
        display: flex;
        padding: 20px;
    }
    #button_navigation span{
        position: relative;
        font-size: 20px;
        transform: scale(2,0.7);

    }
    #rubrique{
        top: 0;
        flex-direction: column;
        height: 100%;
    }
    #rubrique a{
        display: none;
    }
    #rubrique a button{
        padding: 10px;
    }
}
@media (min-width:550px) and (max-width:1024px) and (max-height: 599px){
    #enTete {
        flex-direction: row;


    }
    #logo {
        width:300px;
        height: 250px;
    }
    #titre {
        margin: 5px;
    }

    #titre h1 {
        font-size: 30px;
        text-align: center;
    }

    #titre span {
        font-size: 35px;
    }

    #titre p {
        font-size: 20px;
        text-align: center;
    }
    #button_navigation{
        display: flex;
        padding: 10px;
    }
    #button_navigation span{
        position: relative;
        font-size: 20px;
        transform: scale(2,0.7);

    }
    #rubrique{
        top: 0;
        flex-direction: column;
        height: 100%;
    }
    #rubrique a{
        display: none;
        font-size: 10px;
        /* padding: 10px; */
    }

}

@media (max-width:550px) {
    html{
        margin: 0%;
        padding: 0px; 
    }
    body {
        margin: 0%;
        padding: 0px;
    }

    header {
        /* border: solid blue; */
        height: 70vh;
        margin: 0;
        padding: 0;
    }
    #headerSombre{
        height: 70vh;
    }
    #imgHeader {
        height: 70vh;
        position: absolute;
        background-position: center;
        background-size: 250%;

    }

    #logo {
        /* margin-top: 35px; */
        margin-bottom: 0;
        padding-bottom: 0%;
        width: 300px;
        height: 250px;
    }

    main {
        position: relative;
    }

    #enTete {
        margin: 0;
        padding: 0;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #button_navigation{
        display: flex;
    }
    #button_navigation span{
        position: relative;
        font-size: 20px;
        transform: scale(2,0.7);

    }
    #rubrique{
        top: 0;
        flex-direction: column;
        height: 100%;
    }
    #rubrique a{
        display: none;

    }
    #titre {
        margin: 5px;
        padding: 0;
    }
    
    #titre h1 {
        font-size: 20px;
        text-align: center;
        padding: 0;
    }
    
    #titre span {
        font-size: 30px;
        padding: 0;
    }
    
    #titre p {
        font-size: 18px;
        text-align: center;
        padding: 0;
    }

    #rubrique section:hover {
        transition: transform 0.5s;
        transform: scale(1.05);

    }



    footer {
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(5, 214, 251, 0.2), rgb(5, 215, 251), rgb(255, 173, 0));
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }

    footer h1 {
        font-size: 20px;
        margin: 0;
        color: rgb(0, 0, 0);
      
    }
/*
     .reseau {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        padding-bottom: 10px;
    }

    .reseau img {
        padding: 5px;
    }

    #partenaire img {
        height: 50px;
    }

    #social img {
        width: 30px;
        height: 30px;
    } */
    /* #fenetre_cookie{
        width: 90%;
        height: 90%;
        background-color: white;
    } */

   /* phase de construction */

   #container_construction img{
    width: 100%;
}
#container_construction p{
    text-align: center;
    color: rgb(5, 215, 251);
    font-size: 30px; 
}

}